<!DOCTYPE html>
<html>

<head>
  <title>DateFormatter - Play with Swift DateFormatter online. </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="./app.js"></script>
</head>

<body class="container" ng-app="DateFormatterPlayground" ng-controller="MainController as controller">
  <span class="hl-keyword">import</span> Foundation
  <br>
  <span class="hl-keyword">let</span> formatter =
  <span class="hl-class">DateFormatter</span>()
  <br>
  <span class="hl-class">formatter</span>.<span class="hl-class">dateFormat</span> =
  <span class="hl-string">"<input size="40px" type="text" ng-model="controller.format" ng-model-options="{ debounce: 1000 }" ng-change="controller.post()" />"</span>
  <br>
<!--
  <span class="hl-class">formatter</span>.<span class="hl-class">timeZone</span> = <span class="hl-class">TimeZone</span>(
  <span class="hl-string">"<input size="10px" type="text" ng-model="controller.timeZone" ng-model-options="{ debounce: 1000 }" ng-change="controller.post()" />"</span>)
  <br>
-->
  <span class="hl-keyword">let</span> string =
  <span class="hl-class">formatter</span>.<span class="hl-class">string</span>(from:
  <span class="hl-class">Date</span>())
  <br>
  <span class="hl-class">print</span>(<span class="hl-class">string</span>)
  <br>
  <span class="output">{{dateString}}</span>
  <br>
  <span class="hl-keyword">let</span> date =
  <span class="hl-class">formatter</span>.<span class="hl-class">date</span>(from:
  <span class="hl-string">"<input size="40px" type="text" ng-model-options="{ debounce: 1000 }" ng-change="controller.post()" ng-model="controller.dateStringInput" />"</span>)
  <br>
  <span class="hl-class">print</span>(<span class="hl-class">date</span>)
  <br>
  <span class="output">{{dateValue}}</span>
  <br>

</body>

</html>
